<h1>You are at credential index page </h1>





<table>
  <tr>
    <th>Name </th>
    <th>url </th>
    <th>password</th>
    <th>comment</th>
    <th></th>
    <th></th>
  </tr>

  <% @credentials.each do |cr| %>
      <tr>
        <td><%= cr.name %></td>
        <td><%= cr.url %></td>
        <td><%= cr.password %></td>
        <td><%= cr.comment %></td>
        <td><%#= link_to "Show", book %></td>
        <td><%#= link_to "Edit", edit_book_path(book) %></td>
        <td><%#= link_to "Remove", book, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to "Add new Credential", new_credential_path %>

